In [1]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170)
    ]

In [ ]:
t1= connections[1]
print(t1[1])

rome_number = 0
total_time = 0

for t1 in connections:
    if (t1[1] == 'Rome'):
        print('The connection is to Rome')
        rome_number = rome_number + 1
        total_time = total_time + t1[2]

average_time = total_time / rome_number

print('The average time to Rome is', average_time)

Rome
The connection is to Rome
The connection is to Rome
The connection is to Rome
The connection is to Rome
The connection is to Rome
The average time to Rome is 161.0